body
{
  margin:0;
  padding:0;
  background-color:#03396c;
  transition:all .2s ease-out;
}

*{

    transition:all .2s ease-out;

}

html{

    overflow-x: hidden;

    scroll-behavior: smooth;
}



.card-wrapper {
	       max-width: 500px;
        margin: 50px;
    
}

.form-signin-heading
{
    margin-bottom: 30px;

}
.form-control
{
    margin-bottom: 10px;
    
}
.alignleft {
	float: left;
}
.alignright {
	float: right;
}








/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 10px 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
    margin-left: 20px;
  }
}

/* Style the counter cards */
.cards {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  left-padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

