body{
  background: url("img/bg.jpg");
  background-color: #eeeeee;
  background-size: 300px 150px;
  background-repeat: no-repeat;
    
}

.card-wrapper {
	       max-width: 500px;
        margin: 50px;
    
}

.form-signin-heading
{
    margin-bottom: 30px;

}
.form-control
{
    margin-bottom: 10px;
    
}
.alignleft {
	float: left;
}
.alignright {
	float: right;
}









