<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li> <a href="{% url 'adminhome' %}">Admin Home</a></li><!-- style="color: white;background-color: grey;"-->
        <li> <a href="{% url 'adminaddDoctor' %}">Add Doctor</a></li>
        <li> <a href="{% url 'adminviewDoctor' %}">View Doctors</a></li>
        <li> <a href="{% url 'adminviewPatient' %}">View Patients</a></li>
        <li> <a href="{% url 'adminviewAppointment' %}">Upcoming Appointments</a></li>
        <li> <a href="{% url 'adminviewprevious' %}">Previous Appointments</a></li>
        <li> <a href="{% url 'adminlogout' %}">Logout</a></li>
    </ul>
</div>