<!DOCTYPE html>
<html>
<head>
    {% include 'include.html' %}
    {% load static %}
</head>
<body >
    {% include 'adminnav.html' %}
    <div id="wrapper">
        {% include 'admin_include.html' %}
        <div class="page-content-wrapper">
            <div class="container-fluid"><a class="btn btn-link" role="button" id="menu-toggle" href="#menu-toggle"><i class="fa fa-bars"></i></a>
                <div class="row">
                    <div class="col-md-12">
                        <div>
                            <h1 class="text-center" style="color:blueviolet;">..Welcome Admin..</h1>
                            <h1 class="text-center" style="background-color:DodgerBlue; color:white">{{ user.username }}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
    </div>
</body>
</html>