<!DOCTYPE html>
<html>

<head>
    {% include 'include.html' %}
    {% load static %}
</head>
{% if error == "no" %}
    {% if page == "doctors" %}
    <script type="text/javascript">
        alert('Logged In Sucessfully.')
    </script>
    {% endif %}
{% endif %}

<body>
    {% include 'adminnav.html' %}
    <div id="wrapper">
        {% include 'doctor_sidenav.html' %}
        <div class="page-content-wrapper">
            <div class="container-fluid"><a class="btn btn-link" role="button" id="menu-toggle" href="#menu-toggle"><i class="fa fa-bars"></i></a>
                <div class="row">
                    <div class="col-md-12">
                        <div>
                            <h1 class="text-center" style="color:blueviolet;">..Welcome Doctor..</h1>
                            <h1 class="text-center" style="background-color:DodgerBlue; color:white">Dr. {{ user.first_name }}</h1>
                            <h4 class="text-center">You can See your profile and check you upcoming and previous appointments. Please Checkout..</h4>
                            <h5 class="text-center">You Can Reset Your Password and For First Time Login Please Reset Your Password By Clicking <a href="{% url 'password_reset' %}">Here</a></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/back-to-top-scroll.js' %}"></script>
<script src="{% static 'js/Bold-BS4-Animated-Back-To-Top.js' %}"></script>
<script src="{% static 'js/bs-init.js' %}"></script>
<script src="{% static 'js/Sidebar-Menu.js' %}"></script>
</body>

</html>