<!DOCTYPE html>
<html>

<head>
    {% include 'include.html' %}
    {% load static %}
</head>

<body>

    {% include 'adminnav.html' %}
    <div id="wrapper">
        {% include 'patient_nav.html' %}
        <div class="page-content-wrapper">
            <div class="container-fluid"><a class="btn btn-link" role="button" id="menu-toggle" href="#menu-toggle"><i class="fa fa-bars"></i></a>
                <div class="row">
                    <div class="col-md-12">
                        <div>
                            <h1 class="text-center" style="color:blueviolet;">..Welcome..</h1>
                            <h1 class="text-center" style="background-color:DodgerBlue; color:white">{{ user.first_name }}</h1>
                            <h4 class="text-center">Confirm of an appointment depends upon the availability of doctors at your preferred date and time.</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% if error == "no" %}
    {% if page == "patients" %}
    <script type="text/javascript">
        alert('Logged In Sucessfully.')
    </script>
    {% endif %}
{% endif%}
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/back-to-top-scroll.js' %}"></script>
<script src="{% static 'js/Bold-BS4-Animated-Back-To-Top.js' %}"></script>
<script src="{% static 'js/bs-init.js' %}"></script>
<script src="{% static 'js/Sidebar-Menu.js' %}"></script>
</body>

</html>