{% include 'include.html' %}
{% include 'navbar.html' %}
{% block body %}
{% load static %}


<div class="login-dark" style="background-image: url(&quot;{% static 'img/bgpicture.jpg' %}&quot;);">
    <form method="post" action=".">
    	{% csrf_token %}

        <div class="illustration"><i class="icon ion-ios-locked-outline"></i></div>
        <h5  class="text-center"><u>Password set</u></h5>
        <div class="form-group"><h6>Your Password has changed. You may login Now. </h6></div>
        <div class="text-center">Now Login <a href="{% url 'loginpage' %}">Here</a>
        </div>
    </form>
</div>

{% endblock %}

