

{% include 'include.html' %}
{% include 'navbar.html' %}
{% block body %}
{% load static %}


<div class="login-dark" style="background-image: url(&quot;{% static 'img/bgpicture.jpg' %}&quot;);">
    <form method="post" action=".">
    	{% csrf_token %}

        <div class="illustration"><i class="icon ion-ios-locked-outline"></i></div>
        <h5  class="text-center"><u>Reset Your Password</u></h5>
        <div class="form-group"><h6>We've emailed you instructions for setting your password.</h6></div>

        <div class="form-group"><h6>If you don't receive an email, please make sure you've entered theaddress you registered with.</h6></div>
        <div class="text-center">New User? Sign Up <a href="{% url 'createaccountpage' %}">Here</a>
        </div>
    </form>
</div>

{% endblock %}